.list__block {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(227, 227, 227);
    border-radius: 10px;
    margin-bottom: 10px;
}
.list__box { /* Tą klasę zawierają oba classNameTopBox oraz classNameBottomBox w pierwszym Content */
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(227, 227, 227);
    padding: 25px;
}
.list__header {
    font-size: 25px;
    margin: 0;
}
.list__box--layout { /* Ta klasa jest używana tylko w pierwszym Content dla classNameBottomBox */
    display: block;
    border: 0;
}
.list__tasks-block { /* Ta klasa jest używana tylko w drugim Content dla classNameBottomBox */
    padding: 25px;
}

@media (max-width: 768px) {
    .list__box--vertical { /* Ta klasa jest używana tylko w drugim Content dla classNameTopBox */
        flex-direction: column;
    }
}
@media (max-width: 576px) {
    .list__header {
        font-size: 20px;
    }
}

.dark .list__block {
    background: rgb(0, 0, 0);
    border-color: rgb(28, 28, 28);
}
.dark .list__box {
    border-bottom-color: rgb(28, 28, 28);
}
